#container {
    visibility: hidden;
    display: flex;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#element1, #element2 {
    background: #333333;
    border: 1px solid #cecece;
    box-sizing: border-box;
    height: 100px;
    width:100px;
}

#container #element1, #container #element2 {
    margin-right: 50px;
}